@{
    ViewBag.Title = "Ancestry Coding Project";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Tommy English</h1>
            </hgroup>
            <p>
                This site consists of various scenarios based on data from an Ancestry tree. 
            </p>
        </div>
    </section>
}
<h3>Coding Exercises:</h3>
<ol class="round">
    <li class="one">
        <h2>@Html.ActionLink("Simple Narrator", "Index", "Peeps")</h2>
    </li>

    <li class="two">
        <h2>@Html.ActionLink("Statistical Age Analysis", "Index", "Stats")</h2>
    </li>
</ol>